<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
[if gte IE 9]><!-->
    <link rel="stylesheet" href="/css/basicstyles.css" type="text/css" media="all">
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    
    <script src="/js/client.js"></script>


    <!--<![endif]-->
</head>
  
<body >
     <header class="mainheader">


        <div class="header1">
            <span>
                    <img src="/images/hbi-logo1.png" alt="">
                </span>
        </div>

        <div class="header2">
            <ul>
             <li> <a id="login" class="login" href="#"> Login </a></li>
             <li> <a href="#" class="signUp" data-robots="SignupButton" data-uitest-target="signup-button" data-action="signup-section" data-section-toggle="signup" data-qtsb-section="NavBar" data-qtsb-label="ShowHireSignupSplash">
                        Sign Up
                        </a></li>
             <li> <a id="a3" href=""> Explore Local Business </a></li>
             <li> <a id="a4" href=""> Home Business Owner </a></li>

              </ul>
        </div>


    </header>


<section>
    </section>
    <!-- <div class="flex-container">
<div class="bigitem">

<form action="">
<p>Login Into Your Account</p>
<div>
<input class="fbConnect" type="text" placeholder="info@hbis.com">
<button id="fb1" class="fbConnect" name="fb" value="fb">Facebook Connect</button>

</div>

<br>
<input type="text" placeholder="password">
<br>
<button class="formbutton" name="login" value="login">Sign In</button>
<br>
<a href="">Forgot Password</a>
<a href="">Don't Have An Account? Sign Up</a>
</form>


</section>
</div>
</div> -->

    <div class="section-inner">
        <div class="HeroSlider-content">

            <section class="searchsection">

                <h1>Explore your local home business services</h1>
                <div class="searchsection1">
                    <form id="form-search123">
                        <label for="inputsearch1"> </label>
                        <input class="inputsearch" id="inputsearch1" type="text" placeholder=" Enter ZipCode">

                        <button class="searchbutton" id="search1" name="search1" value="search">Search</button>
                    </form>
                </div>

            </section>

        </div>
    </div>


    <section>
        <section class="section2">
            <img src="/images/home-business-rock1.png" alt="">

        </section>

        <div class="flex-container1">
            <div class="flex-item">

                <p><span class="spanclass">TALENT + STAY AT HOME = HOME BUSINESS OWNER</span>
                    <br>We at HBIS unleash your potential, help you earn, learn and we grow as you grow. You have something to show or share with us, then we are here to see and help create more value. If you are interested in being one , register with us </p>
                <button class="expbutton">Home Business Owners</button>

            </div>

            <div class="flex-item">
                <p><span class="pclass">EXPLORE LOCAL BUSINESS</span>
                    <br>Are you looking for a local near by seller who can customize to your needs. Then explore the services your local business can offer</p>
                <button class="expbutton">Local Services Available</button>
            </div>



        </div>

    </section>

</body>

</html>


 

</body>

</html>
