<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
[if gte IE 9]><!-->
    <link rel="stylesheet" href="/css/basicstyles.css" type="text/css" media="all">
    

   
   


    <!--<![endif]-->
</head>

<body>
    <body>
     <header class="mainheader">


        <div class="logoheader">
            <span>
                    <img src="/images/hbi-logo1.png" alt="">
                </span>
        </div>

        <div class="menuheader">

         <ul>

              <li> <a id="mywishlist" class="mywishlist" href="/profile/mywishlist">  My WishList </a></li>
              <li> <a id="addservice" class="addservice" href="/addservice">  Add Service </a></li>
             
             <li> <a id="logout" class="logout" href="/logout"> Logout </a> <br>
              <%= user.username %> </li> 
              </ul>
            
        </div>


    </header>

     <div class="section-inner">
        <div class="HeroSlider-content">

            <section class="searchsection">

                <h1>Explore your local home business services</h1>
                <div class="searchsection1">
                    <form class="form-search" >
                        <label for="inputsearch"> </label>
                        <input class="inputsearch" id="inputsearch" type="text" placeholder=" Enter ZipCode">
                        <button class="searchbutton" id="search" name="search" value="search">Search</button>
                    </form>
                </div>

            </section>

        </div>
    </div>

   

   <table class=".table.table-striped">
    <thead>
     <td>
       Category
     </td>
      <td>
       Address
     </td>
      <td>
       Name
     </td>
      <td>
       Email
     </td>
   </thead>
   <tbody>


   </tbody>
   </table>

          

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    
    <script >
$(document).ready(function (event) {
    $("#table").hide();
   
    $(".form-search").submit(function (event) {
        event.preventDefault();
        console.log("Am Login formsearch getting called called");
         $("table").find('tbody').empty();
        var zipcode = $("#inputsearch").val();
        // var dropDownSearch = $("#dropdownsearch").val();

        console.log("Zip Code" + zipcode);

        var pagePath = window.location.pathname;
        console.log("Page Path" + pagePath);
        


        /*marius api call*/
        
        var dresult = $.ajax({
                /* update API end point */
                url: '/profile/search/',
                data: {
                    zipcode: zipcode,     
                    },
                cache: false,
                dataType: "json",
                /*set the call type GET / POST*/
                type: "POST"
            })
            /* if the call is successful (status 200 OK) show results */
            .done(function (dresult) {
                /* if the results are meeningful, we can just console.log them */
                 console.log(dresult.msg);
                // console.log(dresult.data);

                if (dresult.redirectTo && dresult.msg == 'Just go there please') {
                    jQuery.support.cors = true;


                    var value='';
                   
                   // for (var i = 0; i < dresult.results.size(); i++) {

                       // console.log(dresult[i]);


                   // }

                    // $('.table-responsive').append(dresult);
                    // window.location = '/';
                    var results=dresult.data;
                   
                    $("#table").show();
                    var thumb = "/images/emailMe.png";
                    var tempurl='EmailMe';

                    var trHTML = '';
                     $.each(results, function (i, items) {
                        //items1=items;
                       // items1=items;
                       //var array=items;
                       console.log(items);
                       console.log(items.length); 


                            $.each(items, function (key, value) {

                                trHTML += '<tr>';
                                trHTML += '<td>' + value.category + '</td>';
                                trHTML += '<td>' + (value.city+ "  " + value.country+ "  " + value.zipcode)+ '</td>';
                                trHTML += '<td>'+ value.username +'</td>';
                                trHTML += '<td>' + value.image_url + '</td>';
                                trHTML += '<td><p> <a href="mailto:" + "'+value.email+'"><img src="/images/emailMe1.png"></img></a> </td>';
                                trHTML += '</tr>';
                                  
                               });
                      
  
                       });

                      $("table").find('tbody').append(trHTML);

                  


                     //console.log(itemdata);
                     //  $.each(itemdata, function (j, dat) {
                      //  var username=dat.username;

                      //  console.log(username);

                        // itemdata=dresult.data[i];    
                      //  });


                      //  console.log(dresult.data[i].zipcode);
                    //trHTML += '<tr><td>' + val.username + '</td><td>' +val.zipcode + '</td></tr>';
                    
                   
                    //$('#table').append(trHTML);

                   // window.location.href = "/profile";
                    
                }
                /* if the results are not meeningful, it might help to convert them to string first
                    var displayStringifiedResults = JSON.stringify(result);
                    console.log(displayStringifiedResults);*/
            })
            /* if the call is NOT successful show errors */
            .fail(function (jqXHR, error, errorThrown) {
                console.log(jqXHR);
                console.log(error);
                console.log(errorThrown);
            });
  });

});




    </script> 
  
</body>

</html>
